.c-add-option {
  background-color: #464B5E;
  padding: $m-size;

  &__error {
    color: $off-white;
    font-style: italic;
    margin: 0 0 $m-size;
  }

  &__form {
    display: grid;
    gap: 1rem;

    @media (min-width: 414px) {
      display: flex;
    }
  }

  &__input {
    background-color: #333745;
    border: 0;
    border-bottom: .3rem solid #282b36;
    color: #fff;
    flex-grow: 1;
    font-size: 1.8rem;
    line-height: 1.5;
    min-height: 5rem;
    padding: #{$m-size / 2} $m-size;
  }
}