.c-header {
  color: #fff;
  background-color: $off-black;
  padding: $m-size 0;
  margin-bottom: $m-size;

  @media (min-width: 415px) {
    margin-bottom: $xl-size;
  }

  &__title {
    margin: 0;

    @media (max-width: 359px) {
      font-size: 3.6rem;
    }
  }

  &__subtitle {
    margin: 0;
    color: $off-white;
  }
}