.c-option {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  padding: $m-size;
  border-bottom: 1px solid #5B6178;

  @media (min-width: 768px) {
    padding: $l-size $m-size;
  }

  &__left {
    margin-right: $m-size;
  }

  &__number {
    margin-right: 1rem;
  }
}